<%= form_for(@reading) do |f| %>
  <% if @reading.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reading.errors.count, "error") %> prohibited this reading from being saved:</h2>

      <ul>
      <% @reading.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :flow_measure %><br>
    <%= f.text_field :flow_measure %>
  </div>
  <div class="field">
    <%= f.label :temperature_measure %><br>
    <%= f.text_field :temperature_measure %>
  </div>
  <div class="field">
    <%= f.label :fan_set %><br>
    <%= f.text_field :fan_set %>
  </div>
  <div class="field">
    <%= f.label :temperature_set %><br>
    <%= f.text_field :temperature_set %>
  </div>

    <div class="field">
      <%= f.label :Setpoint %><br>
      <%= f.text_field :setpoint %>
    </div>
    <div class="field">
      <%= f.label :Gain %><br>
      <%= f.text_field :gain %>
    </div>
    <div class="field">
      <%= f.label :Integral %><br>
      <%= f.text_field :integ %>
    </div>
    <div class="field">
      <%= f.label :Derivative %><br>
      <%= f.text_field :deriv %>
    </div>

    <div class="field">
      <%= f.label :Setpoint_Heater %><br>
      <%= f.text_field :setpointH %>
    </div>
    <div class="field">
      <%= f.label :Gain_Heater %><br>
      <%= f.text_field :gainH %>
    </div>
    <div class="field">
      <%= f.label :Integral_Heater %><br>
      <%= f.text_field :integH %>
    </div>
    <div class="field">
      <%= f.label :Derivative_Heater %><br>
      <%= f.text_field :derivH %>
    </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
