<h1>Listing readings</h1>

<table>
  <thead>
    <tr>
      <th>Flow measure</th>
      <th>Temperature measure</th>
      <th>Fan set</th>
      <th>Temperature set</th>
      <th>Date and Time</th>
      <th>Setpoint</th>
      <th>Gain</th>
      <th>Integral</th>
      <th>Derivative</th>
      <th>Setpoint Heater</th>
      <th>Gain Heater</th>
      <th>Integral Heater</th>
      <th>Derivative Heater</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @readings.each do |reading| %>
      <tr>
        <td><%= reading.flow_measure %></td>
        <td><%= reading.temperature_measure %></td>
        <td><%= reading.fan_set %></td>
        <td><%= reading.temperature_set %></td>
        <td><%= reading.created_at %></td>
        <td><%= reading.setpoint %></td>
        <td><%= reading.gain %></td>
        <td><%= reading.integ %></td>
        <td><%= reading.deriv %></td>
        <td><%= reading.setpointH %></td>
        <td><%= reading.gainH %></td>
        <td><%= reading.integH %></td>
        <td><%= reading.derivH %></td>
        <td><%= link_to 'Show', reading %></td>
        <td><%= link_to 'Edit', edit_reading_path(reading) %></td>
        <td><%= link_to 'Destroy', reading, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Reading', new_reading_path %>
