<p id="notice"><%= notice %></p>

<p>
  <strong>Flow measure:</strong>
  <%= @reading.flow_measure %>
</p>

<p>
  <strong>Temperature measure:</strong>
  <%= @reading.temperature_measure %>
</p>

<p>
  <strong>Fan set:</strong>
  <%= @reading.fan_set %>
</p>

<p>
  <strong>Temperature set:</strong>
  <%= @reading.temperature_set %>
</p>

<p>
  <strong>Setpoint:</strong>
  <%= @reading.setpoint %>
</p>

<p>
  <strong>Gain :</strong>
  <%= @reading.gain %>
</p>

<p>
  <strong>Integral:</strong>
  <%= @reading.integ %>
</p>

<p>
  <strong>Derivative:</strong>
  <%= @reading.deriv %>
</p>

<p>
  <strong>Setpoint Heater:</strong>
  <%= @reading.setpointH %>
</p>

<p>
  <strong>Gain Heater :</strong>
  <%= @reading.gainH %>
</p>

<p>
  <strong>Integral Heater:</strong>
  <%= @reading.integH %>
</p>

<p>
  <strong>Derivative Heater:</strong>
  <%= @reading.derivH %>
</p>


<%= link_to 'Edit', edit_reading_path(@reading) %> |
<%= link_to 'Back', readings_path %>
