<h1>Realtime#show</h1>

<h1>Listing users</h1>
<p>
  <strong>temp:</strong>
  <%=RealVar.first.temp%>
</p>


<p>
  <strong>flow:</strong>
  <%=RealVar.first.flow%>

</p>

<p>
  <strong>Fan setpoint:</strong>
  <%=RealVar.first.setpoint%>
</p>


<p>
  <strong>Heater setpoint:</strong>
  <%=RealVar.first.setpointH%>

</p>
<p>
  <strong>Fan:</strong>
  <%=RealVar.first.flowset%>
</p>


<p>
  <strong>Heat:</strong>
  <%=RealVar.first.tempset%>

</p>
<br>


