<h1>Inputs towards PLC</h1>

<p>
  <strong>pwm_temp:</strong>
  <%=Pwm.first.pwm_temp%>
</p>


<p>
  <strong>pwm_flow:</strong>
  <%=Pwm.first.pwm_flow%>

</p>
<p>
  <strong>Setpoint:</strong>
  <%=Pwm.first.setpoint%>

</p>
<p>
  <strong>Gain:</strong>
  <%=Pwm.first.gain%>

</p>
<p>
  <strong>Integral:</strong>
  <%=Pwm.first.integ%>

</p>
<p>
  <strong>Derivitive:</strong>
  <%=Pwm.first.deriv%>

</p>
<p>
  <strong>Open/closed loop:</strong>
  <%=Pwm.first.openloop%>

</p>

</p>
<p>
  <strong>Setpoint Heater:</strong>
  <%=Pwm.first.setpointH%>

</p>
<p>
  <strong>Gain Heater:</strong>
  <%=Pwm.first.gainH%>

</p>
<p>
  <strong>Integral Heater:</strong>
  <%=Pwm.first.integH%>

</p>
<p>
  <strong>Derivitive Heater:</strong>
  <%=Pwm.first.derivH%>

</p>

<br>