<h1>pwm#show</h1>

<h1>Listing users</h1>
<p>
  <strong>temp:</strong>
  <%=Pwm.first.pwm_temp%>
</p>


<p>
  <strong>flow:</strong>
  <%=Pwm.first.pwm_flow%>

</p>
<p>
  <strong>Setpoint:</strong>
  <%=Pwm.first.setpoint%>

</p>
<p>
  <strong>Gain:</strong>
  <%=Pwm.first.gain%>

</p>
<p>
  <strong>Integral:</strong>
  <%=Pwm.first.integ%>

</p>
<p>
  <strong>Derivitive:</strong>
  <%=Pwm.first.deriv%>

</p>
<p>
  <strong>Open/closed loop:</strong>
  <%=Pwm.first.openloop%>

</p>
<br>